# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# Node / npm
node_modules/

# Build kimenetek
dist/
.dist-ssr/

# Firebase cache / emulátor
.firebase/
hosting.*.cache/

# Környezeti változó fájlok
.env
.env.local
.env.*.local

# OS / Editor
Thumbs.db
.vscode/
.idea/

# Coverage
coverage/
